@import "/static/css/normalize.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #c5ddeb;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  font-size: 14px;
}

input:invalid,
input:focus-within:invalid {
  outline: 2px solid #f44336;
}

/* ----- utils common ------- */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  border-radius: 5px;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mr-4 {
  margin-right: 1rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 0.75rem;
}
.ml-4 {
  margin-left: 1rem;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* ----- form common ------- */

.form-common {
  padding: 1.5rem;
}
.form-common .input-group:not(:first-child) {
  margin-top: 2rem;
}
.form-common .input-group > * {
  display: block;
}
.form-common .input-group > *:not(:first-child) {
  margin-top: 1rem;
}
.form-common input[type="button"],
.form-common button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* ----- status component ------- */

.status {
  width: 10px;
  height: 10px;
  background: #9e9e9e;
  border-radius: 2px;
}
.status.online {
  background: #86bb71;
}

/* ----- chat component ------- */

.chat-side-nav {
  display: flex;
  flex-direction: column;
  width: 260px;
}

.chat-side-nav .chat-rooms-list {
  padding: 20px;
  padding-bottom: 80px;
  overflow: hidden;
}

.chat-rooms-list .chat-rooms-list-item {
  margin-bottom: 20px;
}

.chat-rooms-list-item {
  position: relative;
  cursor: pointer;
}
.chat-rooms-list-item:hover {
  transform: translate(2px, -2px);
}
.chat-rooms-list-item.active {
  background: rgb(0 0 0 / 10%);
  box-shadow: 20px 0px 0px 0px rgb(0 0 0 / 10%);
}

.chat-rooms-list-item > * {
  -webkit-touch-callout: none;
  pointer-events: none;
  touch-action: none;
  user-select: none;
}

.chat-rooms-list .avatar {
  float: left;
}

.chat-rooms-list .about {
  position: relative;
  float: left;
  margin-top: 8px;
  padding-left: 8px;
  max-width: 70%;
}

.chat-rooms-list .avatar + .status {
  position: absolute;
  top: 44px;
  left: 45px;
}

.chat-rooms-list .last-message {
  color: #bdbdbd;
  font-size: 0.85em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-side-nav .header {
  padding: 20px;
}
.chat-side-nav .header h2 {
  margin: 0;
}

.chat-side-nav .footer {
  margin-top: auto;
  padding: 20px;
}
.chat-side-nav .footer .form-common {
  padding: 0;
}

.chat-search-form input {
  width: 100%;
}

.chat {
  width: 490px;
  float: left;
  background: #f2f5f8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}

.chat .chat-header {
  position: relative;
  padding: 20px;
  border-bottom: 2px solid white;
}

.chat .chat-header .avatar {
  float: left;
}

.chat .chat-header .avatar + .status {
  position: absolute;
  top: 64px;
  left: 65px;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}

.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}

.chat .chat-header .chat-info {
  color: #92959e;
}
.chat .chat-header .chat-info.last-activity-at {
  color: #92959e;
}
.chat .chat-header .chat-info.somebody-typing {
  color: #2196f3;
}

.chat .chat-header .fa-star {
  float: right;
  color: #d8dadf;
  font-size: 20px;
  margin-top: 12px;
}

.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
  padding-right: 6px;
}

.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
  white-space: pre-wrap;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86bb71;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .my-message {
  background: #86bb71;
}

.chat .chat-history .other-message {
  background: #94c2ed;
}

.chat .chat-history .other-message:after {
  border-bottom-color: #94c2ed;
  left: 93%;
}

.chat .chat-message {
  padding: 30px;
}

.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.chat .chat-message button {
  float: right;
  color: #94c2ed;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #f2f5f8;
}

.chat .chat-message button:hover {
  color: #75b1e8;
}

/* ----- footer parts ------- */

.attributions {
  margin-top: 2rem;
  padding: 0 2rem;
}

/* ----- chat page ------- */

.chat-page-container {
  display: flex;
  background: #444753;
}

/* ----- login page ------- */

.login-page-container {
  width: 340px;
  background: #94c2ed;
}

.login-page-container > h1 {
  margin-bottom: 0;
  padding-top: 2rem;
  text-align: center;
}

.login-page-container .form-common input {
  width: 100%;
}

.login-page-container .form-common button {
  margin: 0 auto;
  width: 120px;
}
