<%- include(views_path + 'partials/layout/_header.ejs', { title: 'Rooms - ' +
appName, scripts: [{src: '/static/js/helpers/avatars.js', attributes:
'defer'}, {src: '/static/js/components/chat/chatHtmlGenerators.js', attributes:
'defer'}, {src: '/static/js/components/chat/chat.js', attributes:
'defer'}, {src: '/static/js/pages/chat.js', attributes: 'defer'}] }); -%>

<div class="chat-page-container container clearfix">
  <div class="chat-side-nav">
    <div class="header">
      <h2>Rooms</h2>
      <form id="chat-search-form" class="chat-search-form mt-4">
        <input type="text" name="query" placeholder="Type Nickname to search" />
      </form>
    </div>
    <ul class="chat-rooms-list" id="chat-rooms-list">
      <li class="clearfix">Loading...</li>
    </ul>
    <div class="footer">
      <%- include(views_path + 'partials/_logout_form.ejs'); -%>
    </div>
  </div>

  <div class="chat">
    <div class="chat-header clearfix" id="chat-room-header">
      <h2 class="text-center">Select or Create a Room to start.</h2>
    </div>
    <!-- end chat-header -->

    <div class="chat-history">
      <ul id="chat-room-messages-list"></ul>
    </div>
    <!-- end chat-history -->

    <form id="chat-room-send-form" class="chat-message clearfix">
      <textarea name="text" placeholder="Type your message" rows="3"></textarea>
      <button type="submit">Send</button>
    </form>
    <!-- end chat-message -->
  </div>
  <!-- end chat -->
</div>
<!-- end container -->

<%- include(views_path + 'partials/layout/_footer.ejs'); -%>
