<%- include('../partials/layout/_header', { title: 'Page not found', } ); -%>

<div class="container clearfix" style="padding: 1rem">
  <h1>404 - page not found</h1>
</div>
<!-- /container -->

<%- include('../partials/layout/_footer'); -%>
