<div class="attributions">
  Attributions:
  <ul>
    <li>
      <a
        href="https://www.flaticon.com/free-stickers/heart"
        title="heart stickers"
        rel="nofollow"
      >
        Heart stickers created by Stickers - Flaticon
      </a>
    </li>
  </ul>
</div>

</body>
</html>
