<div class="attributions">
  Attributions:
  <a href="https://www.flaticon.com/free-stickers/heart" title="heart stickers" rel="nofollow">
    Heart stickers created by Stickers - Flaticon
  </a>
</div>
</body>
</html>
